main {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Titillium Web', sans-serif;

  .cadastro-form {
    position: absolute;
    width: 286px;
    border: 5px solid #191919;
    background-color: #2a2a2a;
    max-width: 30%;
    padding: 0 75px 30px;
    border-radius: 40px;

    .cadastro-imagem-h1 {
      position: relative;
      margin: 40px auto;
      width: 225px;
      height: 225px;
    }

    .cadastro-logo {
      position: relative;
      width: 225px;
    }

    .cadastro-texto {
      font-size: 26px;
      color: #FFFFFF;
      text-align: center;
      margin-bottom: 40px;
    }

    .cadastro-label {
      color: #FFFFFF;
      width: 100%;
      font-size: bold;
      display: block;
      margin: 20px 0 10px;
      font-size: 20px;
    }

    .cadastro-input {
      display: block;
      width: 100%;
      padding: 5px 0 5px 0;
      border-top: none;
      border-left: none;
      border-right: none;
      background-color: #2a2a2a;
      color: #FFFFFF;
      font-size: 18px;
      outline: none;
    }

    .cadastro-botao {
      display: block;
      margin: 30px auto 0;
      font-size: 20px;
      padding: 10px;
      border: 3px solid #191919;
      border-radius: 10px;
    }

    .cadastro-botao:hover {
      cursor: pointer;
      background-color: #aaaaaa;
    }

    .cadastro-botao-link {
      text-decoration: none;
    }
  }
}
