<main>
  <div class="cadastro-form">
    <form>
      <h1 class="cadastro-imagem-h1"><img class="cadastro-logo" src="../../assets/img/logo.png"></h1>
      <h2 class="cadastro-texto">Cadastro</h2>

      <label class="cadastro-label">Email</label>
      <input class="cadastro-input" type="email">

      <label class="cadastro-label">Username</label>
      <input class="cadastro-input" type="text">

      <label class="cadastro-label">Senha</label>
      <input class="cadastro-input" type="password">

      <label class="cadastro-label">Confirme sua Senha</label>
      <input class="cadastro-input" type="password">

      <button class="cadastro-botao">Cadastrar</button>
    </form>
  </div>
</main>
