<!-- <main>
    <form [formGroup]="formUsuarioTime" class="form-group">
        <h2 class="h2-info">Modificar o Integrante do Time</h2>

        <div class="div-infos">
            <label for="cargo" class="label-info">Cargo</label>
            <input class="input-info" type="text" formControlName="cargo" [value]="formUsuarioTime.cargo">
        </div>
        <div class="div-infos">
            <label for="funcaoTime" class="label-info">Função no Time</label>
            <mat-form-field class="mat-field" appearance="fill">
                <mat-label class="mat-label">Selecione a Função</mat-label>
                <mat-select formControlName="funcaoTime">
                    <mat-option class="mat-option" *ngFor="let funcaoTime of allFuncoesTime" [value]="funcaoTime">
                        {{funcaoTime.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="button-info-div">
            <button class="button" (click)="">Modificar</button>
        </div>
    </form>
</main> -->