<form [formGroup]="formTime">
    <!-- <h2>Configurações do Time {{formTime.nomeTime}}</h2> -->

    <div class="input">
            <label for="nomeTime">Nome do Time</label>
            <!-- <input *ngIf="this.formTime.nomeTime == undefined" type="text" formControlName="nomeTime" > -->
            <!-- <input *ngIf="this.formTime.nomeTime != undefined" type="text" formControlName="nomeTime" [value]="this.formTime.nomeTime"> -->
    </div>
    <!-- <div class="input">
            <label for="numVitoria">Número de Vitórias</label>
            <input *ngIf="this.formTime.numVitoria == undefined" type="text" formControlName="numVitoria" >
            <input *ngIf="this.formTime.numVitoria != undefined" type="text" formControlName="numVitoria" [value]="this.formTime.numVitoria">
    </div>
    <div class="input">
            <label for="numEmpate">Número de Empates</label>
            <input *ngIf="this.formTime.numEmpate == undefined" type="text" formControlName="numEmpate" >
            <input *ngIf="this.formTime.numEmpate != undefined" type="text" formControlName="numEmpate" [value]="this.formTime.numEmpate">
    </div>
    <div class="input">
            <label for="numDerrota">Número de Derrota</label>
            <input *ngIf="this.formTime.numDerrota == undefined" type="text" formControlName="numDerrota" >
            <input *ngIf="this.formTime.numDerrota != undefined" type="text" formControlName="numDerrota" [value]="this.formTime.numDerrota">
    </div>
    <div class="input">
            <label for="dataCriacao">Data de Criação</label>
            <input *ngIf="this.formTime.dataCriacao == undefined" type="text" formControlName="dataCriacao" >
            <input *ngIf="this.formTime.dataCriacao != undefined" type="text" formControlName="dataCriacao" [value]="this.formTime.dataCriacao">
    </div> -->
</form>